#paginationContainer {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

#paginationContainer span {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
}

.paginationActivePage {
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #979797;
  padding: 0.5em 1em;
  cursor: pointer;
}

.paginationInactivePage {
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #979797;
  padding: 0.5em 1em;
  cursor: pointer;
  opacity: 0.7;
}
