.mainCE {
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

tr {
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
}

table tr.bottomblackborder {
  border-bottom: 1px solid #111;
}

th,
td {
  padding: 10px 18px;
}

.odd {
  background-color: #f9f9f9;
}

#entriesNSearchContainer,
#infosNPaginationContainer {
  display: flex;
  justify-content: space-between;
}

.mainCE input[type="text"] {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  padding: 0.5em 1em 0.45em 1em;
  color: #454545;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

#infosContainer {
  display: flex;
  align-items: center;
}
