#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  display: block;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.mainform {
  display: flex;
  flex-direction: column;
  width: 360px;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
}

.mainform input[type="text"],
.mainform input[type="number"] {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  padding: 0.5em 1em 0.45em 1em;
  color: #454545;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.325rem;
}

.mainform input[type="submit"] {
  margin-top: 2.325rem;
  height: 32px;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
  border: 1px solid #979797;
}

label.defaultSpacing {
  margin-top: 1rem;
}
